
<div class="modal fade" id="modalBook" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ingresa un nuevo libro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #formBook="ngForm" (ngSubmit)="onSaveBook(formBook)">
            <input type="text" name="bookId">
          <div class="form-group">
            <label for="titulo" class="col-form-label" >Titulo</label>
            <input type="text" class="form-control" name="titulo" [(ngModel)]="this.dataApi.selectedBook.titulo">
          </div>
          <div class="form-row">
              <div class="for-gr col-md-6">
                  <label for="idioma" >Idioma</label>
                  <select name="idioma" id="" class="form-control" [(ngModel)]="this.dataApi.selectedBook.idioma">
                     <option value="ingles">Ingles</option>
                     <option value="castellano">Castellano</option>
                  </select>
              </div>
              <div class="form-group col-md-6">
                  <label for="precio">precio</label>
                  <input type="text" name= "precio" class="form-control" placeholder="$0.00" [(ngModel)]="this.dataApi.selectedBook.precio">
              </div>
          </div>
          <div class="form-row">
              <div class="form-group col-md-6">
                  <label for="autor">Autor</label>
                  <input type="text" name="autor" class="form-control" placeholder="Autor" [(ngModel)]="this.dataApi.selectedBook.autor" >
              </div>
              <div class="form-group col-md-6">
                  <label for="oferta">Oferta</label>
                   <select name="oferta" class="form-control" [(ngModel)]="this.dataApi.selectedBook.oferta"> 
                   <option value="1">Si</option>
                   <option value="0">No</option>
                </select>
                </div>
          </div>
          <div class="form-row">
              <div class="form-group col-md-6">
                  <label for="portada">Portada</label>
                  <input type="text" name="portada" class="form-control" placeholder="Portada" [(ngModel)]="this.dataApi.selectedBook.portada">
              </div>
              <div class="form-group col-md-6">
                  <label for="link_amazon">Link</label>
                  <input type="text" name="link_amazon" class="form-control" placeholder="link amazon" [(ngModel)]="this.dataApi.selectedBook.link_amazon">
              </div>
          </div>
          <div class="form-group">
            <label for="descripcion" class="col-form-label">Descripcion:</label>
            <textarea class="form-control" name="descripcion" [(ngModel)]="this.dataApi.selectedBook.descripcion"></textarea>
          </div>
          <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary" >Guardar libro</button>
        </div>
        </form>
      </div>
     
    </div>
  </div>
</div>